{% extends "base.html" %}
{% load bootstrap5 %}
{% block content-title %}
{{title}}
{% endblock %}
{% block content %}
{% bootstrap_messages %}
<br/>   
<form class="form" method="post" action={{action}}>
    {% csrf_token %}
    <div class="row">
        {% for field in form %}
        {% bootstrap_field field show_label=False %}
        {% endfor %}
        <div class="col">
            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
            <input type="button" class="btn btn-primary" value="Voltar" onClick="history.go(-1)">
        </div>
    </div>
</form>
<br/>
{%  if object_list %}
<table class="table table-striped">
    {% for obj in object_list %}
        {% if forloop.first %}
        <thead>
            <tr>
                {% for label, value in obj.field_list %}
                <th>{{label}}</th>
                {% endfor %}
                <th><a>Situação</a></th>
                <th><a>Editar</a></th>
                <th><a>Pedir</a></th>
                <th><a>Excluir</a></th>
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr>
                {% for label, value in obj.field_list %}
                <td><a>{{value}}</a></td>
                {% endfor %}
                <td>
                    <a class={% if obj.quantity == 0 %}"btn btn-secondary btn-sm"{%else%}"btn btn-success btn-sm"{%endif%}role="button">{{obj.get_situation_display}}</a>
                </td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" href="{% url 'product_update' obj.pk %}" role="button">Editar</a>
                </td>

                <td>
                    {%if obj.get_situation %}<a class="btn btn-outline-primary btn-sm" href="{% url 'order_create' obj.pk %}" role="button">Pedir</a>{%endif%}
                </td>
                <td>
                    <form name='delete_form' action="{% url 'product_delete' obj.id %}" method='POST' onclick="return deletechecked()"> {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">Excluir</button>
                    </form>
                </td>
            </tr>
            {% if forloop.last %}
        </tbody>
        <tfoot>
            <tr>
                {% for label, value in obj.field_list %}
                <th>{{label}}</th>
                {% endfor %}
                <th><a>Situação</a></th>
                <th><a>Editar</a></th>
                <th><a>Pedir</a></th>
                <th><a>Excluir</a></th>
            </tr>
        </tfoot>
        {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endblock %}

{% block extra-js %}
<script type="text/javascript" > 
    function deletechecked()
    {
        var answer = "Realmente deseja excluir ?";
        if (confirm(answer)){
         document.delete_form.submit();
        }
        return false;  
    }
</script>
{% endblock %}